name: CI-prod

on:
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Create Application.yml
        run: |
          mkdir -p src/main/resources
          echo "${{ secrets.PROD_APPLICATION_YML }}" > src/main/resources/application.yml

      - name: Build Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew clean build -x test --no-daemon

      - name: Run Tests
        run: |
          chmod +x ./gradlew
          ./gradlew test --no-daemon

